.modal img{
	border-radius:50%;
	width:40px;
	height:40px;
}
.modal-backdrop{
	z-index:auto;
}

.list-group-item{
	border:none;
}

ul{
	margin:0;
	padding:0;
}

h2{
	padding:.5em 1em;
}

#filtro_botones button{
	margin:1em;
	padding:.5em;
}