.modal img{
	border-radius:50%;
	width:40px;
	height:40px;
}
.modal-backdrop{
	z-index:auto;
}

.list-group-item{
	border:none;
}

ul{
	margin:0;
	padding:0;
	overflow: scroll;
}

h2{
	padding:0 1em;
}

#filtro_botones button{
	margin:1em;
	padding:.5em;
}

.foto_grupo{
	width:95vw!important;
	height:auto!important;
	border-radius:0!important;
	margin:0!important;
}

.silenciar{
	width:95vw;
	
}

#filtro .scrollable-content{
	overflow:scroll;
}


.modal .traer_al_frente{
	 z-index: -1;
}

.imagen_grupo{
	width:95vw!important;
	height:auto!important;
	border-radius:0!important;
}

.list-group-item span{
	color:#86ae2f;
	border: 1px solid #86ae2f;
	border-radius:.5em;
	padding:.2em .5em;
	margin-top:.5em;
}

.estado_grupo>img{
	border-radius:0;
	height: 20px;
	width:20px;
}