h1{
	font-size:1.8em;
	margin-top: .5em;
    padding-left: 1em;
}

#panel_opciones{
	font-size:1em;
	margin:.5em;
	text-align:center;
	margin-top:10vw;
}

#panel_opciones li{
	margin:.5em;
}
	
#panel_opciones li a{
	color:grey;
}

/******* en cada vista ***********/

.subtitulo{
	padding-top:.5em;
}
.listado_usuarios{
	margin-top:2em;
}
.listado_usuarios img{
	border-radius:50%;
	width:60px;
	height:60px;
}
.listado_usuarios li a p, .listado_usuarios li a span{
	padding-top:1em;
}
.listado_usuarios li a>p{
	padding-left:1em;
	color:black;
}
.listado_usuarios li a p{
	padding-right:1em;
	color:black;
}
.listado_usuarios li{
	height:5em;
	vertical-align:center;
}
.listado_usuarios li a p:nth-last-child(1){
	color:grey;
}

h2{
	font-size:1em;
}












