.tiempo{
	display:inline-block!important;
	width:auto!important;
}

.list-group-item{
	padding-bottom:2em;
}

.img-comentario-publicacion{
	border-radius:50%;
	width:2.5em;
	height:2.5em;
}

.nombre{
	font-weight:bold;
	font-size:1em!important;
	padding:0 .3em!important;
	color:black!important;
}

.comentario{
	font-size:1em!important;
	color:black!important;
} 

#link-like img{
	width:36px!important;
}
#link-like{
	margin-top: -12.5%!important;
    float: right!important;
	margin-bottom: 0!important;
	margin-right:4%;
}

#link-editar{
	margin-right: 31%!important;
}

#link-borrar{
	margin-right: 19%!important;
}

.cant_likes{
	display:inline-block;
	width:auto!important;
	margin-top: -10%!important;
}