
/*==============  REGISTRO-MAPA ============== */

/** Mapa **/
#registro-mapa{
	/*background-image:url('../img/mapa.png');*/
    width: 100vw;
    height: 100vh;
	padding:0;
}

/** Título y dirección **/
#registro-mapa #title-container {
    padding-left: 8px;
    padding-right: 7px;
    padding-top: 7%;
	background:rgba(251, 247, 247, 0.88);
	z-index:3;
}

#registro-mapa #campos-container form input {
	margin-bottom: 10%;
    width: 90%;
    margin-left: 5%;
    margin-top: 7%;
}


#registro-mapa #registroMapa-continue-btn{
    margin-top: 75vh;
	bottom:0;
    width: 90%;
    margin-left: 5%;
	z-index:3;
    font-weight: bold;
}




