
/*==============  REGISTRO-DATOS ============== */
  
 /** Titulo Registro, Volver y circulos **/
 
 #title-registro-container{
	padding:0;
	padding-top:7%;
 }
 /*Icono*/
.volver-icon{
    padding: 0;
}
 .volver-icon span{
    color: #8a8a8a;
    font-size: 2.5rem;
    font-weight: 100;	
	display:inline-block;
    padding: 0;
 }

 /*Circulos*/
 .box-circle-registro{
    margin-top: 10px;
    padding: 0;
    padding-left: 25%;
 }
 
 .complete-task-circle{
    width: 15px;
    height: 15px;
    border-radius: 30px;
    display: inline-block;
    padding: 0;
 }
 
 .crcl-1{
	background:#0a3a49;
	border: 1px solid #0a3a49;
	margin-right:30px;
 }
 
 .crcl-2{
	background:transparent;
	border: 1px solid #0a3a49;
 }