/********************************************* *************************************************************
***************************************************CSS ***************************************************
***********************************************************************************************************/

/**modal**/
#modal_pruba{
	margin-top:7em;
}

/**header**/
#header{
	background:#0a3a49;
	padding:.3em;
}
.nav{
	background:#0a3a49;
}
#nav-bar a.active{
	padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 5px solid #fff;
}
#alarma{
	padding-left:.9em;
	padding-right:.5em;
}

/**body**/
body{
	z-index:1;
}
.app{
    background-color: #eee;
}

#fondo_activo{
	width:100vw;
	height:100vh;
	background:rgba(107, 103, 103, 0.4);
	z-index:2;
	position:fixed;
	padding:0;
	margin:0;
}

/***TITULOS***/
 /** Container de Titulo y Volver */
 #title-container{
	padding:0;
	padding-top:7%;
 }

 /** Clase que se agrega a etiqueta <a> contenedora del <span> 
  ** Icono .volver-icon <span> se agrega a glyphicon.less para reutilizarlo*/
.volver-icon{
    padding: 0;
	width:0;
}

/* Titulo */
 #title-container h1{
    display: inline-block;
    float: left;
    font-size: 1.8em;
	padding-top:.22em;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
}


/***FORM***/

/** Mensaje validacion */
.mensaje-validacion{
	color:red;
	position:absolute;
	text-align:right;
	margin-top:2.5em !important;
}

.upload-file{
	text-indent: 300px;
	overflow: hidden;
	background:url("../img/icons/png/clip.png") no-repeat;
}

.delete-file{
	float:right;
	top: 0;
    right: 0;
    margin-top: .5em!important;
    margin-right: .5em!important;
	overflow: hidden;
	width:30px;
	height:30px;
	background:url("../img/icons/png/cruz.png") no-repeat;
}
/****Body****/
body{
	height: 100vh;
}

/****Sidebar****/
#sidebar>div>div{
	position:absolute;
	height:100vh;
}
	
#edad-registro{
  color: #afadad!important;
    letter-spacing: 3px;
    font-weight: 300;
    margin-left: 4%;  
}

/****Modal****/
.modal{
	display:block!important;
}
.modal div:nth-child(2){
	padding-top:25%;
}
.modal h4{
	line-height:1.8em;
}

/*** footer ***/

footer{
	z-index:3;
}

/***Sidebar ****/
#grupos_usuario img{
	max-width:40px;
	max-height:40px;
}

/************************modal****************************/

#ventana_modal p{
	font-size: 1.3em;
}
.modal-body button{
	margin:1em;
	padding:0 2em;
}
.modal-body{
	text-align:center;
}
#cerrar_modal{
	display:inline-block;

}

/************************** Perfil ***********************/

.contenedor-perfil>div>ul{
	padding-top:1.5em;
}

.contenedor-perfil h2{
    font-size: 1.3em;
    text-transform: none;
    padding-left: .5em;
    font-family: 'HelveticaNeueLTStd';
    color: #0a384a;
    letter-spacing: 2px;
	text-align:right;
	padding-right:.5em;
}

hr{
	border-top: 1px solid #8c8b8b;
}

.contenedor-perfil .img-responsive{
	margin: 0 auto;
	text-align:center;
}

#title-container-perfil{
	display:inline-block;
	width:100vw;
	height:40vh;
	background:url("../img/backgrounds/background-user-mini.jpg") center -30%;
	padding-top:0;
}
#title-container-perfil h1{
    font-size: 1.8em;
	margin-top:.5em;
	padding-left:2em;
}

.contenedor-perfil div:nth-last-child(1){
	padding-bottom:3em;
}

.usuario-file{
	text-indent: 300px;
	overflow: hidden;
	background:url("../img/icons/png/foto.png") no-repeat;
}

.pre_vista{
	width:100vw;
	z-index:0;
}

#title-container-perfil form button, .ok_acordeon{
	color:white;
	font-weight:bold;
	font-size:1.2em;
	padding:.5em;
	border-radius:50%;
	box-shadow:none;
	width:2.4em;
	height:2.4em;
	margin:0 2.4em;
}

.ok_acordeon{
	width:2em;
	height:2em;
	margin:0;
	padding:0;
	margin:.8em .5em;
	margin-top: -1em;
}

#envio_foto{
	background:#86ae2f;
}

#title-container-perfil form>div{
	display:inline-block;
	width:100vw;
	text-align:center;
	z-index:1;
	margin-top:-10em;
}

#form-ingreso .switch{
	text-align:center;
	background:#86ae2f;
	margin-bottom:2em;
	margin-left:35vw;
}

#form-ingreso .switch-handle{
	background:url(../img/icons/png/publico-mini.png) white center no-repeat;
}

#form-ingreso .switch.active{
	background:red;

}
#form-ingreso .switch.active .switch-handle{
	background:url(../img/icons/png/privado-mini.png) white center no-repeat;
}

.usuario_datos li{
	min-height:3em;
}
.usuario_datos .glyphicon {
	color:grey;
	padding-left:.5em;
}
.usuario_datos a>li>span:nth-child(1) {
	color:grey;
}
.usuario_datos a>li>span:nth-child(3) {
	color:#333;
}

.usuario_datos a li img{
	height:20px;
	padding-left:1em;
}

/**************** filtro ************************/

#filtro label{
	font-size:1.2em;
	display:inline-block;
	width:100%;
}

#filtro_botones{
	padding:0;
	margin:0;
	padding-top:.5em;
	text-align:center;
}

#filtro_botones button{
	margin:0 .5em;
}

#filtro .modal-dialog{
	padding-top:0;
}

#filtro .scrollable-content{
	max-height:95vh;
}

.categoria_seleccionada{
	display:inline-block;
	border-radius:50%;
	background:#d2d2d2;
	padding:.3em 1em;
	margin:.1em .5em ;
}

#filtrado_categorias{
	background:white;
	margin:0;
	padding:.5em;
}

/************************ SECCION ENCUESTA **********************/

#container_form label{
	font-weight:bold;
	font-size:1.3em;
	color:#0a3a49;
	display:inline-block;
	text-align:right;
}

#nueva_opcion{
	border:none;
	background:none;
	background:url('../img/icons/png/mas-mini.png');
	display:inline-block;
	width:35px;
	height:35px;
	overflow:hidden;
	text-indent:-300px;
	margin-bottom:1.5em;
}

#btn_opcion{
	display:inline-block;
 	width:90vw; 
	text-align:right;
}

#btn_opcion input{
	margin-bottom:1em;
}

 












