
@font-face {
    font-family: 'ac_lineregular';
    src: url('../font/ac_line-webfont.woff2') format('woff2'),
         url('../font/ac_line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_blackregular';
    src: url('../font/archivoblack-webfont.woff2') format('woff2'),
         url('../font/archivoblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('../font/HelveticaNeueLTStd-Cn.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('../font/HelveticaNeueLTStd-MdCn.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Corbel';
    src: url('../font/Corbel.ttf');
    font-weight: normal;
    font-style: normal;

}
