
		<!--Alarmas container -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-controller="alarmaCtrl">
		<!-- Titulo Alarmas y Volver -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-bottom-sm" id="title-container">
			<!-- Icono -->
		<!-- 	<a href="#/" class="volver-icon col-lg-2 col-md-2 col-sm-2 col-xs-2 volver-icon" ng-click="$back();"><span class="glyphicon glyphicon-chevron-left"></span></a> -->
			
			<!-- Texto -->
			<h1 class="text-center">Alarma</h1>
			
		</div>
		
		
			<div  class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 col-lg-10 col-md-10 col-sm-10 col-xs-12 margin-bottom-sm seccion_alarma">
			
			
			 <div>
			 
			 <!--  {{counter}} <br /> -->
            <!-- <button ng-click="cancel()">Cancel</button> -->
	
				<div id="boton_alarma"
				role="button"
				class="img-response"
				ng-mouseup="finalizar_click()"
				ng-click='iniciar_click()'> 
<!-- 				<small>Manter presionado por 3 segundos para enviar una alerta a sus gurpos</small>
 -->				</div>				
			</div>

			<div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<img src="img/icons/png/alarm-2.png" alt="alarma-policia" class="img-response pointer sub_alarma" role="button" />
			</div>

			<div  class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
				
					<img src="img/icons/png/alarm-3.png" alt="alarma-bomberos" class="img-response sub_alarma" role="button" />
				
			</div>

			<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				
					<img src="img/icons/png/alarm-4.png" alt="alarma-ambulancia" class="img-response sub_alarma" role="button" />
				
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center alarma_footer">En caso de que se encuentre en peligro pulse el boton de panico, si quiere realice una seleccion mas especifica.</div>
		</div>
		
		
		
		
		