<!doctype html>
<html ng-app="BasicChat">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/chatear.css">

    <title>URBAN</title>
	
    <script src="../js/modulos/bower_components/angular/angular.js"></script>
    <script src="../js/modulos/bower_components/angular-chat/angular-chat.js"></script>
    <script src="../js/controllers/controller-chat.js"></script>
	
	<!-- script para upload de imagenes -->
	<script>
	FileAPI = {
        //only one of jsPath or jsUrl.
        jsPath: '../js/FileAPI.min.js/',
        //jsUrl: 'mgd-studio.com.ar/phps/js/FileAPI.min.js',

        //only one of staticPath or flashUrl.
        staticPath: '../js/FileAPI.flash.swf/',
        //flashUrl: 'mgd-studio.com.ar/phps/js/FileAPI.flash.swf',

        //forceLoad: true, html5: false //to debug flash in HTML5 browsers
        //noContentTimeout: 10000 (see #528)
    }
	</script>
	
	<!-- angular-upload   -->
	<script src="../js/modulos/ng-file-upload-shim.js"></script> <!--no html5 support -->
	<script src="../js/modulos/ng-file-upload.js"></script>
	
</head>
<body>

    <div class="chat-container" ng-controller="BasicController as chat">

		<!--header-->
        <div class="chat-messages">
            <div class="chat-header">
				<img src="../img/icons/png/volver_chat.png" alt="volver" ng-click="volver_chats()"/>
				<img src="../img/icons/png/ofertas.png" alt="imagen_grupo" class="angularjs-chat-logo"/>
                <h1>{{ titulo_chat }}</h1>
					<img ng-show='chat.FILE.$valid' ngf-src='FILE' class='thumb'>
					<input class='upload-file'  type='file' ngf-select ng-model='chat.FILE' name='file' accept='image/*' ngf-max-size='2MB' id='foto'>
            </div>
			<div>
		<!--comentarios chats-->
				<div ng-repeat="message in chat.messages" class="chat-body">
					<div class="sent-message-{{ message.self }}">
						<span class="username">{{ nombre_usuario }}:</span>
						{{ message.data }}
					</div>
					<div class="clear"></div>
				</div>
            </div>
        </div>

		<!--comentar-->
        <form ng-submit="chat.send()" class="chat-input">
            <input type="text" ng-model="chat.textbox" autofocus>
            <input type="submit" class="send-icon" value=" ">
            <input type="submit" value=" "
                class="sent-indicator {{ chat.status }}">
        </form>

    </div>

</body>
</html>