
	<!-- Contenedor publicacion detalle -->
	<div class="scrollable">
	
	<div class="scrollable-content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="detalle-publicacion">
	
		<!-- Titulo Publicar, Volver-->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="title-container">
			<!-- Icono -->
			<div class="volver-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<span ng-click="$back();" class="glyphicon glyphicon-chevron-left"></span>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 edit-delete-container">
					<a ng-click="eliminar()" id="link-borrar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "><img id="borrar" src="img/icons/png/borrar.png" alt="Eliminar" /></a>
					<!-- <a ng-click="editar(ID)" id="link-editar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "><img src="img/icons/png/editar.png" alt="Editar" /></a> -->
				</div> 
			</div>

		</div>
		
		<!--Detalle encuesta -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  id="detalle-encuesta">
		
			<h2 class="text-center">{{datosSQLencuestas.PREGUNTA}}</h2>
			
			<p>Creada por <span>{{datosSQLencuestas.USUARIO_NOMBRE}} {{ datosSQLencuestas.USUARIO_APELLIDO }}</span></p>

			<div><small class="pull-right margin-bottom-sm">{{ datosSQLencuestas.FECHA_CREACION }}</small></div>
			
			<!-- Votar -->
			<form  ng-submit="votar(opcion)" enctype="multipart/form-data" name="encuesta">
				<ul class="list-group">
					<li ng-repeat="item in datosSQLencuestas.OPCIONES track by $index " 
					class="list-group-item form-control">						
					<label for="{{item.ID}}" >
					<input type="radio" 
					value="{{item.ID}}" 
					id="{{item.ID}}" 
					required
					ng-model="opcion.ITEM"
					class="form-radio-input" 
					name="opcion_seleccionada">
					{{item.RESPUESTA}}
					</label>
					</li>
				</ul>
				
				<!-- Enviar-->
				<input type="submit" class="form-control btn btn-default" value="Votar">
			</form>
		</div>
	
	</div>
</div>