<!-- Contenedor login -->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	
		<!-- Titulo container -->
		<div  class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 col-lg-10 col-md-10 col-sm-10 col-xs-12 margin-bottom-sm title-app text-center">
			<!-- Icono -->
			<figure >
				<img src="img/icons/png/urban.png" alt="Urban-icon" class="img-responsive" />
			</figure>
			<!-- Texto -->
			<h1>Urban</h1>
		</div>
	
		<!--Campos container -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-lg">
		
			<!-- Formulario -->
			<form ng-submit="login(usuario)" role="form" class='form' class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 col-lg-10 col-md-10 col-sm-10 col-xs-12 form-group">
			
				<!-- Email -->
				<input type="text" name="email" placeholder="email" class="form-control" required ng-model="usuario.EMAIL">
				<!-- Contraseña -->
				<input type="password" name="clave" placeholder="contraseña" class="form-control" required ng-model="usuario.CLAVE">
				
				<!-- Enviar -->
				<input type="submit"  class="btn btn-link form-control" value="¿Has olvidado tu contraseña?">
				
				<!-- Enviar -->
				<input type="submit"  class="btn btn-default form-control" value="Ingresar">
				 
			</form>
		
		</div>
	
	
		<!--Botones container -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
			<!-- Registrar-->
			<a href="#registroUno" class="btn btn-primary form-control" id="registrar-btn">Registrarse</a>
			<!-- Facebook -->
		<!-- 	<button type="button" class="form-control btn btn-default" id="fcbk-btn">Ingresar con facebook</button> -->
		</div>
	
	</div>
	