	<!-- Estilos propios de la vista -->
	<style> @import url("css/modal-grupo.css"); </style> 
	
	<div class="modal" ng-show="estado_modal" id="filtro">
	<div class="modal-backdrop in"></div>
	  <div class="modal-dialog scrollable">
		<div class="modal-content scrollable-content">
			<div class="traer_al_frente">
				<img ng-show="img_grupo" ng-src='{{foto_grupo}}' alt="{{un_grupo.NOMBRE}}" class="imagen_grupo" />
				<form  ng-show="!img_grupo" role='form' name='grupo' ng-submit='editar_foto_grupo(grupo)'>
					<img ngf-src="picFileGrupo" class="thumb pre_vista" id="pre_vista_grupo" /> 
					<div>
						<button type="submit" ng-click="uploadPicGroup(picFileGrupo)" class="btn botones_cambio_foto" id="envio_foto">&#10004;</button>
						<button type="submit" ng-click="deletePicGroup()" class="btn btn-danger botones_cambio_foto" id="no_envio_foto">x</button>
					</div>
				</form>
				<span class='estado_grupo'>
				<img ng-show="{{ un_grupo.ESTADO }} =='Privado'" ng-src="img/icons/png/privado-mini.png" alt="privado" />
				<img ng-show="{{ un_grupo.ESTADO }} !='Publico'" ng-src="img/icons/png/publico-mini.png" alt="publico" />
				</span>
				<input type="file" class='upload-file usuario-file ' ngf-select ng-model="picFileGrupo" name="file" ngf-accept="'image/*'" id="foto_grupo">
				<h2>{{ un_grupo.NOMBRE }} </h2>
				<div> 
				
					<ul>
						<li ng-repeat="usuario in listado_usuarios track by $index" class="list-group-item">
						<img ng-src="{{ usuario.FOTO }}" alt="{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}"/> 
							{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}
							<span class="pull-right" ng-hide="{{ usuario.ID }}!=admin_grupo">Admin</span>
						</li>
					</ul>
				
				  <div id="filtro_botones">
					<button ng-click="modal_grupo()" class="btn btn-lg btn-danger">Cerrar</button>
					<button ng-show="estado_eliminar" ng-click="eliminar_grupo()" class="btn btn-lg r">Eliminar grupo</button>
					<button ng-show="!estado_eliminar" ng-click="abandonar_grupo()" class="btn btn-lg r">Abandonar grupo</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
