	<!-- Estilos propios de la vista -->
	<style> @import url("../css/modal-menu.css"); </style> 
	
	<div class="modal" ng-show="estado_menu" id="filtro">
	<div class="modal-backdrop in"></div>
	  <div class="modal-dialog scrollable">
		<div class="modal-content scrollable-content">
			<div clas="scrollable">
				<img class="foto_grupo" src="../img/{{ img }}" alt="foto grupo"/>
				<button class="btn btn-lg silenciar">Silenciar Grupo</button>
				<h2>{{ listado_usuarios.length }} Participantes</h2>
				<div class= "scrollable-content"> 
				<ul>
					<li ng-repeat="usuario in listado_usuarios track by $index" class="list-group-item">
					<img ng-src="{{ usuario.FOTO }}" alt="{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}"/> 
						{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}
					</li>
				</ul>
				  <div id="filtro_botones">
					<button ng-click="modal_menu()" class="btn btn-lg btn-danger">Cerrar</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
