	<!-- Estilos propios de la vista -->
	<style> @import url("css/modal-grupo.css"); </style> 
	
	<div class="modal" ng-show="estado_modal" id="filtro">
	<div class="modal-backdrop in"></div>
	  <div class="modal-dialog scrollable">
		<div class="modal-content scrollable-content">
			<div class="traer_al_frente">
				<img ng-src='{{foto_grupo}}' alt="{{un_grupo.NOMBRE}}" class="imagen_grupo" />
				<span class='estado_grupo'>
				<img ng-show="{{ un_grupo.ESTADO }} =='Privado'" ng-src="img/icons/png/privado-mini.png" alt="privado" />
				<img ng-show="{{ un_grupo.ESTADO }} !='Publico'" ng-src="img/icons/png/publico-mini.png" alt="publico" />
				</span>
				<input type="file" class='upload-file usuario-file ' ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'" id="foto">
				<form  role='form' name='usuario' ng-submit='editar_foto_usuario(usuario)'>
				<img ngf-src="picFile" class="thumb pre_vista" id="pre_vista" /> 
				<div>
					<button type="submit" ng-click="uploadPic(picFile)" class="btn"id="envio_foto">&#10004;</button>
					<button type="submit" ng-click="deletePic()" class="btn btn-danger" id="no_envio_foto">x</button>
				</div>
			</form>
				<h2>{{ un_grupo.NOMBRE }} </h2>
				<div> 
				
				<ul>
					<li ng-repeat="usuario in listado_usuarios track by $index" class="list-group-item">
					<img ng-src="{{ usuario.FOTO }}" alt="{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}"/> 
						{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}
						<span class="pull-right" ng-hide="{{ usuario.ID }}!=admin_grupo">Admin</span>
					</li>
				</ul>
				
				  <div id="filtro_botones">
					<button ng-click="modal_grupo()" class="btn btn-lg btn-danger">Cerrar</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
