<div class="modal" ng-show="estado_filtro" id="filtro">
	<div class="modal-backdrop in "></div>
	  <div class="modal-dialog scrollable">
		<div class="modal-content scrollable-content">
			<div>
				<ul>
					<li ng-repeat="categoria in categorias track by $index" class="list-group-item">
						<label for="{{categoria.ID}}" >
						  <input
							type="checkbox"
							class="form-check-input" 
							name="categorias_seleccionadas[]"
							id="{{categoria.ID}}"
							value="{{categoria.ID}}"
							ng-checked="selection.indexOf(categoria.ID) > -1"
							ng-click="toggleSelection(categoria.ID)"
						  > {{categoria.TITULO}}
						</label>
					</li>
				</ul>
				  <div id="filtro_botones">
					<button ng-click="modal_filtrar()" class="btn btn-lg btn-danger">Cerrar</button>
					<button class="btn btn-lg btn-success" ng-click="filtrar_publicaciones()">Filtrar</button>
					<button class="btn btn-lg btn-link" ng-click="limpiar_filtro()">Limpiar Filtros</button>
				  </div>
			</div>
		</div>
	</div>
</div>
