
	<!--- ******CONTENIDO (VISTA PANEL DE CONTROL)****** -->
	
	
	<!-- Estilos propios de la vista -->
	<style> @import url("css/panel-de-control.css"); </style> 
	
	<!-- LISTADO -->
	<div class="scrollable">
		<div class="scrollable-content">
		<!-- Titulo Perfil, Volver, foto-->
			<div>
				<!-- Icono -->
				<div>
					<div class="volver-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<span ng-click="back_usuarios()" class="glyphicon glyphicon-chevron-left" style="padding-left:.4em;padding-top:.3em;"></span>
					</div>
					<!-- Texto -->
					<h1 class="text-center subtitulo">Usuario </h1>
				</div>
				
			</div>
		
			<!-- Listado de usuarios -->
			<div>
				<ul class="list-group listado_usuarios">
				  <li ng-repeat="item in datosSQLusuarios track by $index " class="list-group-item"><a href='#/panelDeControl/Usuarios/{{ item.ID }}'>
					<img class="pull-left img-publi" ng-src="{{ item.FOTO }}" />
					<p class="pull-left">{{ item.NOMBRE }} {{ item.APELLIDO }}</p>  
					<span class="glyphicon glyphicon-chevron-right" id="glyphicon_listado_encuesta"></span> 
					<p class="pull-right">{{ item.NIVEL }}</p> 
				  </a></li>
				</ul> 
			</div>
		</div>
	</div>