
	<!--- ******CONTENIDO (VISTA PANEL DE CONTROL)****** -->
	
	
	<!-- Estilos propios de la vista -->
	<style> @import url("css/panel-de-control.css"); </style> 
	
	<!-- LISTADO -->
	<div class="scrollable">
		<div class="scrollable-content">
		<div>
			<!-- Icono -->
			<div>
				<div class="volver-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<span ng-click="back()" class="glyphicon glyphicon-chevron-left" style="padding-left:.4em;padding-top:.3em;"></span>
				</div>
				<!-- Texto -->
				<h1 class="text-center">PANEL DE CONTROL</h1>
			</div>
			
		</div>
		<canvas id="bar-chart-horizontal" style='margin-top:10vw;' width="auto" height="auto"></canvas>
		<ul class="list-group" id="panel_opciones">
			<li ng-repeat="item in listado track by $index"
			class="list-group-item">
				<a href='#/panelDeControl/{{ item }}'>{{ item }}</a>
			</li>
		</ul>
		

		
		</div>
	</div>
			
			
		
	

	