
	<!--- ******CONTENIDO (VISTA PANEL DE CONTROL)****** -->
	
	
	<!-- Estilos propios de la vista -->
	<style> @import url("css/panel-de-control.css"); </style> 
	
	<!-- LISTADO -->
	<div class="scrollable">
		<div class="scrollable-content">
		<!-- Titulo Perfil, Volver, foto-->
			<div>
				<!-- Icono -->
				<div>
					<div class="volver-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<span ng-click="back()" class="glyphicon glyphicon-chevron-left" style="padding-left:.4em;padding-top:.3em;"></span>
					</div>
					<!-- Texto -->
					<h1 class="text-center subtitulo">Grupos </h1>
					<label>Search: <input ng-model="searchText"></label>
					<a href="/urban-app/vistas/mapa.html" ng-click="admin_crea_grupo()" id="publicaciones_listado_crear_publicacion">Crear grupo</a>
				</div>
				
			</div>
		
			<!-- Listado de grupos -->
			<div>
				<ul class="list-group listado_usuarios">
				  <li ng-repeat="item in datosSQLgrupos  | filter:searchText " class="list-group-item"><a href='#/panelDeControl/Grupos/{{ item.ID }}'>
					<img class="pull-left icono_estado" ng-src="img/icons/png/{{ item.ESTADO }}-mini.png" />
					<img class="pull-left img-publi" ng-src="{{ item.FOTO }}" />
					<p class="pull-left">{{ item.NOMBRE }}</p>  
					<span class="glyphicon glyphicon-chevron-right" id="glyphicon_listado_encuesta"></span> 
					
				  </a></li>
				</ul>  
			</div>
		</div>
	</div>
			
			