
	<!-- Contenedor perfil -->
	
	<div class="scrollable">
	
	<div class="scrollable-content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	
		<!-- Titulo Perfil, Volver, foto-->
		<div  id="title-container-perfil">
			<!-- Icono -->
			<div style="background:#eee; display:inline-block; width:100vw; ">
				<div class="volver-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<span ng-click="$back();" class="glyphicon glyphicon-chevron-left" style="padding-left:.4em;padding-top:.3em;"></span>
				</div>
				<input type="file" class='upload-file usuario-file ' ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'" id="foto">
				<!-- Texto -->
				<h1 class="text-center">Perfil</h1>
			</div>
			<form  role='form' name='usuario' ng-submit='editar_foto_usuario(usuario)'>
				<img ngf-src="picFile" class="thumb pre_vista" id="pre_vista" /> 
				<div>
					<button type="submit" ng-click="uploadPic(picFile)" class="btn"id="envio_foto">&#10004;</button>
					<button type="submit" ng-click="deletePic()" class="btn btn-danger" id="no_envio_foto">x</button>
				</div>
			</form>
		</div>
		
	<div class="contenedor-perfil"> 
		<!--Detalle perfil -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col
		-xs-12">

		<!--datos usuario-->
		<h2 class="text-center">Datos</h2>
		
		<form  role='form' name='usuario_datos' ng-submit='editar_datos_usuario(usuario_datos)' id="form_editar_datos">
		
			<ul  class="list-group"> 
			
				<!-- nombre y apellido -->
				<li class="list-group-item">
					<div class="expandcollapse-item">
						<div class="panel-title" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
							<span class="pull-left">Usuario</span>
							<a class="editar_usuario pull-right" ng-show="active"><img src="img/icons/png/editar.png" alt="Editar" /></a> 
							<a href="javascript:void(0)"  ng-hide="active" class="pull-right cerrar_acordeon">X</a>
							<span class="pull-right"> {{ datos_usuario.NOMBRE	}} {{ datos_usuario.APELLIDO}}</span>
						</div>
					</div>
					 <div class="slideDown" ng-hide="active"> 
						<div class="panel-body expand-collapse-content">
							<input type="text" name="input" ng-model="usuario_datos.NOMBRE" placeholder="{{ datos_usuario.NOMBRE }}" class='form-control' />
							<input type="text" name="input" ng-model="usuario_datos.APELLIDO" placeholder="{{ datos_usuario.APELLIDO }}" class='form-control' />
							<div>
								<button type="submit" class="btn ok_acordeon" id="envio_foto">&#10004;</button>
							</div>
						</div>
					  </div>
				</li>
				
				<!-- Direccion y estado -->
				<li class="list-group-item">
					<div class="expandcollapse-item">
						<div class="panel-title" ng-click="active1 = !active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
							<span class="pull-left">Direccion</span>
							<a class="editar_usuario pull-right" ng-show="active1"><img src="img/icons/png/editar.png" alt="Editar" /></a>
							<a href="javascript:void(0)"  ng-hide="active1" class="pull-right cerrar_acordeon">X</a>
							<span class="pull-right"> <img src="{{ datos_usuario.DIRECCION_ESTADO }}" alt="Editar" /> </span>
							<span class="pull-right">{{ datos_usuario.DIRECCION	}} </span>
						</div>
					</div>
					 <div class="slideDown" ng-hide="active1"> 
						<div class="panel-body expand-collapse-content">
							<div class="form-group">
								  <label>Remember Me</label>
								  <ui-switch 
									ng-model='rememberMe'></ui-switch>
								<button type="submit" class="btn ok_acordeon" id="envio_foto">&#10004;</button>
							</div>
						</div>
					  </div>
				</li>
				
				<!-- clave -->
				<li class="list-group-item">
					<div class="expandcollapse-item">
						<div class="panel-title" ng-click="active2 = !active2" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
							<span class="pull-left">Clave</span>
							<a class="editar_usuario pull-right" ng-show="active2"><img src="img/icons/png/editar.png" alt="Editar" /></a>
							<a href="javascript:void(0)"  ng-hide="active2" class="pull-right cerrar_acordeon">X</a>
							<span class="pull-right">{{ datos_usuario.CLAVE	}} </span>
						</div>
					</div>
					 <div class="slideDown" ng-hide="active2"> 
						<div class="panel-body expand-collapse-content">
							<div>
								<input type="text" name="input" ng-model="usuario_datos.CLAVE" placeholder="Clave" class='form-control' />
								<input type="text" name="input" ng-model="usuario_datos.NUEVA_CLAVE" placeholder="Nueva Clave" class='form-control' />
								<button type="submit" class="btn ok_acordeon" id="envio_foto">&#10004;</button>
							</div>
						</div>
					  </div>
				</li>
			</ul>
				
				
				<!-- <li class="list-group-item" ui-set="{'myAccordion': 2}">
				<div class="panel-title">
					<span class="pull-left">Direccion</span>
					<a class="editar_usuario pull-right"><img src="img/icons/png/editar.png" alt="Editar" /></a>
					<span class="pull-right"> <img src="{{ datos_usuario.DIRECCION_ESTADO }}" alt="Editar" /> </span>
					<span class="pull-right">{{ datos_usuario.DIRECCION	}} </span>
				</div>
					<div ui-if="myAccordion == {{2}}">
						<div class="panel-body">
							<div class="form-group">
								  <label>Remember Me</label>
								  <ui-switch 
									ng-model='rememberMe'></ui-switch>
								<button type="submit" class="btn"id="envio_foto">&#10004;</button>
								<button type="submit" ng-click="cerrar_acordeon()" class="btn btn-danger" id="no_envio_foto">x</button>
							</div>
						</div>
					  </div>
				</li> -->
				
					<!-- cambiar clave-->
				<!-- <li class="list-group-item" ui-set="{'myAccordion': 3}">
				<div class="panel-title">
					<span class="pull-left">Clave</span>
					<a class="editar_usuario pull-right"><img src="img/icons/png/editar.png" alt="Editar" /></a>
					<span class="pull-right">{{ datos_usuario.CLAVE	}} </span>
				</div>
					<div ui-if="myAccordion == {{3}}">
						<div class="panel-body">
							<div>
								<input type="text" name="input" ng-model="usuario_datos.CLAVE" placeholder="Clave" class='form-control' />
								<input type="text" name="input" ng-model="usuario_datos.NUEVA_CLAVE" placeholder="Nueva Clave" class='form-control' />
								<button type="submit" class="btn"id="envio_foto">&#10004;</button>
								<button type="submit" ng-click="cerrar_acordeon()" class="btn btn-danger" id="no_envio_foto">x</button>
							</div>
						</div>
					  </div>
				</li> -->
				
					<!-- <input type="submit" class="form-control btn btn-default" value="cambiar clave"> -->
		
		</div>
		</form>
		
		<!--Detalle grupos -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<hr>
				<h2 class="text-center">Grupos</h2>
				
				<ul  class="list-group">
					<li class="list-group-item" ng-repeat="item in listado_grupos track by $index" >
					{{ item.NOMBRE }} <a href="javascript:void(0)" ng-click='abandonar_grupo(item.NOMBRE,item.ID)' class="pull-right">X</a>
					</li>
				</ul>
			
			</div>
		
			<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<hr>
				<p class="cerrar-cuenta list-group-item">Cuenta <a href="javascript:void(0)" ng-click='eliminar_cuenta()' class="pull-right">Eliminar</a></p>
			</div>
		</div>
	</div>
	</div>