
	<!--- ******CONTENIDO (VISTA PUBLICACIONES)****** -->
	
		<!-- PUBLICACIONES -->
		
		<div  id="publicaciones" ng-controller='publicacionesListadoCtrl'>
		<a href="#newPublicacion" id="publicaciones_listado_crear_publicacion">Crear publicacion</a>	
			
			<ul class="list-group" id="listado-publicaciones">
			  <li ng-repeat="item in datosSQLpublicaciones track by $index " ng-click="cargar()" href="#verPublicacion" class="list-group-item">
				<img src="img/icons/png/temaAnimal.png" alt="todo" class="temaChat"/>
				<img ng-src="{{ 'img/fotos/animal.png' }}" />
				<h2>{{ item.TITULO }}</h2>  
				<p>{{ item.DESCRIPCION }}</p>  
				<span>{{ item.FECHA_CREACION }}</span>  
			  </li>
			</ul>
		</div>
			
			
			
			<!-- img y titulo -->
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<img src="img/icons/png/evento.png" alt="todo" />
				<div>
					<h2>Reunion de consorcio</h2>
				</div>
				<small>04:12 12/06</small>
			</div>
			
			<!-- img y titulo -->
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img src="img/icons/png/temaAnimal.png" alt="todo" class="temaChat"/>
				<img src="img/icons/png/animal.png" alt="animal" />
				<div>
					<h2>Manchitas se perdio</h2>
					<p>Manchitas se perdio</p>
				</div>
				<small>04:12 12/06</small>
			</div>
		
			<!-- img y titulo -->
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img src="img/icons/png/temaOfertas.png" alt="todo" class="temaChat"/>
				<img src="img/icons/png/ofertas.png" alt="oferta" />
				<div>
					<h2>Manchitas se perdio</h2>
					<p>2x1 en congelados!</p>
				</div>
				<small>04:12 12/06</small>
			</div>
			
			<!-- img y titulo -->
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img src="img/icons/png/temaAnimal.png" alt="todo" class="temaChat"/>
				<img src="img/icons/png/animal.png" alt="animal" /> 
				<div>
					<h2>Mileno (boxer marron)</h2>
				</div>
			</div>	
			
			<!-- img y titulo -->
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img src="img/icons/png/evento.png" alt="todo" />
				<div>
					<h2>pago de expensas</h2>
				</div>
			</div>
		
			<!-- img y titulo -->
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img src="img/icons/png/ofertas.png" alt="oferta" />
				<div>
					<h2>20% en envasados</h2>
				</div>
			</div>
			
		</div>-->

		
	

	