	<!-- Estilos propios de la vista -->
	<style> @import url("css/publicaciones-listado.css"); </style> 
	
	<!--- ******CONTENIDO (VISTA PUBLICACIONES)****** -->
	
	<!-- PUBLICACIONES -->
	<div class="scrollable">
		<div class="scrollable-content" id="publicaciones" ng-controller='publicacionesListadoCtrl'>
		<ul id="filtrado_categorias" >
			<li  ng-show="hay_filtrado"  ng-repeat="item in listado_categorias_seleccionadas track by $index"
			class="nav-link categoria_seleccionada">
				{{ item }}
			</li>
		</ul>
		<a href="#newPublicacion" id="publicaciones_listado_crear_publicacion">Crear publicacion</a>	
			<ul class="list-group" id="listado-publicaciones">
			  <li ng-repeat="item in datosSQLpublicaciones track by $index " class="list-group-item">
				<div ng-click="detallePublicacion(item.ID)" >
					<div class="head-publi">
						<img class='img-user pull-right' ng-src="{{ item.FOTO_USUARIO }}" />
						<p calss="pull-left">{{ item.USUARIO_NOMBRE }} {{ item.USUARIO_APELLIDO }}</p>
						
						<small calss="pull-right" ng-show='item.CATEGORIA!="Otro"'>#{{ item.CATEGORIA }}</small>  
					</div>
					<input type="hidden" name="country" value="{{item.ID}}">
					<img class='img-publi' ng-src="{{ item.FOTO }}" />
					<div>
						<h2>{{ item.TITULO }}</h2>  
						<p>{{ item.DESCRIPCION }}</p>
					</div>
				</div>	
				<div>
					<button type="button" ng-click="dar_like(item)" class="btn btn-link pull-right" >
					<p class="pull-right">{{ item.LIKES.length }}</p>
					<img ng-show='!item.LIKEADA' src="img/icons/png/like.png" class="corazon"/>
					<img ng-show='item.LIKEADA' src="img/icons/png/like-on.png" class="corazon"/>
					</button>
					<button type="submit" ng-click="detallePublicacion(item.ID)" class="btn btn-link pull-right" >
					<p class="pull-right">{{ item.COMENTARIOS.length }}</p>
					<img src="img/icons/png/comentario.png" /></button>
				</div>	
				<small class="fecha">{{ item.FECHA_CREACION }}</small>
			  </li>
			</ul>
		</div>
	</div>
			
			
		
	

	