		<!-- Estilos propios de la vista -->
	<style> @import url("css/publicacion-detalle.css"); </style> 
	
	<div ng-include="mostrar_modal_usuario()"></div>

	<!-- Contenedor publicacion detalle -->
	<div class="scrollable">
	
	<div class="scrollable-content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="detalle-publicacion">
	
		<!-- Titulo Publicar, Volver-->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="title-container">
			<!-- Icono -->
			<div class="volver-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<span ng-click="$back();" class="glyphicon glyphicon-chevron-left"></span>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 edit-delete-container">
					<a ng-show="es_propietario" ng-click="eliminar()" id="link-borrar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "><img id="borrar" src="img/icons/png/borrar.png" alt="Eliminar" /></a>
					<a ng-show="es_propietario" ng-click="editar(ID)" id="link-editar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "><img src="img/icons/png/editar.png" alt="Editar" /></a>
					<a ng-show="!es_propietario" ng-click="reportar(ID)" id="link-reportar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 "><img src="img/icons/png/reportar.png" alt="Reportar" /></a>
				</div>
			</div>

		</div>
		
		<!--Detalle publicacion -->
		<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div>
				<ul class="ul-encuesta">
					<li>Creada por 
						<a ng-click='modal_usuario()'>{{ USUARIO_NOMBRE }} {{ USUARIO_APELLIDO }}</a>
					</li>
					<li>{{ FECHA_CREACION }}</li>
				</ul>
			</div>
			<h2 class="text-center">{{TITULO}}</h2>

			<img ng-src="{{ FOTO }}" class="img-responsive" id="img-detalle"/>
			<p>{{ DESCRIPCION }}</p>  
		
			<!--Listado de comentarios-->
			<ul class="list-group" id="listado-comentario-publicaciones">
				<li ng-repeat="item in datosSQLcomentario_publicacion track by $index" class="list-group-item">
				<div>
				<img class='img-comentario-publicacion' ng-src="{{ item.FOTO_USUARIO }}" />
				<p class="nombre">{{ item.USUARIO_NOMBRE}} {{ item.USUARIO_APELLIDO }}</p>
				<!-- <img src="img/icons/png/menu-nombre.png" alt="nombre" /> -->
				<p class="comentario">{{item.COMENTARIO}}</p>
				</div>
				<span class="tiempo pull-right" ng-show='item.FECHA_CREACION == "Hace "'> 1 s</span>
				<span class="tiempo pull-right" >{{item.FECHA_CREACION}}</span>
				</li>
			</ul>
			
			<!-- Comentar -->
			<form  ng-submit="comentar(comentario)" enctype="multipart/form-data" name="publi">
				<textarea cols='10' rows='6' name="descripcion" class="form-control" required ng-model="comentario.DESCRIPCION" placeholder='Comentar' id="comentar"></textarea>
				
				<!-- Enviar-->
				<input  id="comentar_input" type="submit" class="form-control btn btn-default" value="Enviar">
				
			</form>
		</div>
	
	</div>
	</div>