<div class="scrollable" ng-controller="sidebarCtrl">
		  <div class="scrollable-content">
			<div class="list-group sidebar-left" ui-turn-off='uiSidebarLeft'>

				 <span class="h4 app-name list-group-item" id="nombre-menu">
					<!-- <a class="list-group-item" href="javascript:void(0)" id="nombre-menu" > -->
						<img src="img/icons/png/menu-nombre.png" alt="nombre" /> {{ nombre_usuario }} 
<!-- 						<span class="glyphicon glyphicon-chevron-right pull-right"></span>
 -->						
<!-- 					</a>
 -->				 </span> 
				
				<!---- GRUPOS --->
				<div class="list-group-item" id="grupos_usuario">
					 <a ng-repeat="item in datosSQLgrupos track by $index " class="list-group-item" href="#/publicaciones/{{item.ID}}" ng-click="cambiar_grupo(item.ID)" ng-class="{'active': item.ID == estado.activo}" ng-click="estado.activo=item.ID">
						<img ng-src="{{ item.FOTO }}" alt="{{item.NOMBRE}}" class="group-menu"/> {{ item.NOMBRE }}
					 </a>
				</div>

				<!-- <a class="list-group-item" href="#">
					<img src="img/icons/png/cerrar-sesion-2.png" alt="cerrar" id="cerrar"/>Panel de administración
				 </a> -->
				 
				<!--- MAPA -->
				<a class="list-group-item" id="boton-mapa">
					<img src="img/icons/png/mapa-menu.png" alt="ubicacion" id="mapa-menu"/>Mapa
				</a>

				<a class="list-group-item" href="#/ajustes">
					<img src="img/icons/png/menu-preferencias-2.png" alt="ajustes" id="pref"/>Ajustes
				</a> 

				 <a class="list-group-item" href="#/ayuda">
					<img src="img/icons/png/menu-ayuda-2.png" alt="ayuda" id="ayuda"/>Ayuda
				 </a>
				 
				 <a class="list-group-item" href="#">
					<img src="img/icons/png/cerrar-sesion-2.png" alt="cerrar" id="cerrar"/>Cerrar Sesión
				 </a>
			</div>
		  </div>
		</div>
